*{
    box-sizing: border-box;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo a{
    color: cornsilk;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Black Ops One', cursive !important;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Lobster', cursive !important;
    font-family: 'Pacifico', cursive !important;
}
.logo{
    font-family: 'Black Ops One', cursive !important;
    font-family: 'Lato', sans-serif !important;
    font-family: 'Lobster', cursive !important;
    font-family: 'Pacifico', cursive !important;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.navlists{
    align-items: center;
}
nav .navlists ul li{
    display: inline;
    /* padding: 10px; */
}
nav .navlists ul li a{
    text-decoration: none;
    padding: 20px 10px 15px 10px;
    font-size: 20px;
    font-weight: 500;
    color:cornsilk;
}
nav{
    background-color: rgb(37, 43, 40);
    align-items: center;
    padding: 8px;
}
#nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
section{
    width:25%;
    border: 1px solid rgb(37, 43, 40);
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    min-height: 400px;
    background-color: rgb(37, 43, 40);
    color: cornsilk;
    box-shadow: 10px 10px 15px #b7b7b8, -10px -10px 15px rgb(37, 43, 40);
}
.form-group{
    margin-top: 10px;
}
#reg{
    font-weight: bold;
    font-size: 20px;
}
#flex_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#flex_links a{
    color:cornsilk;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
input[type=checkbox]:checked:before {
  background: cornsilk;
    color: rgba(255,255,255, 0.85) !important;
  border: 2px solid rgb(37, 43, 40);
  border-radius:4px;
}
#useremail,#userpassword, #phonenumber, #userimages{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    color: rgb(37, 43, 40);
    box-shadow: inset 6px 6px 6px #cbced1,
                 inset -6px -6px 6px #ffffff;
}
#signin{
    width: 100%;
    height: 45px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.flex_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
textarea{
    height: 100px;
    resize: none;
}.image_profile img{
    border-radius: 50%;
}
#uploadpost{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(37, 43, 40,0.7);
}
.flex_forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#uploadpost #subformclass{
    margin: auto;
    margin-top: 50px;
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
#captionposts{
    height: 40px;
}
.signle_post .post_image{
    width: 100%;
    height: 250px;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.postby{
    font-weight: bold;
    padding: 10px;
}
.allposts{
    width: 60%;
}
.bold{
    font-weight: bold;
}
.post_village{
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
#uploadpost{
    display: none;
}
.posttimes{
    font-size: 14px;
    color: gray;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
#searchitems{
    height: 45px !important;
    border-radius: 25px;
    padding-left: 20px;
}