{% extends 'base.html' %}
{% block title %}{{ title  }}{% endblock %}

{% block navbar %}
   {% include 'navbar.html' %}
{% endblock %}
{% block content %}
  <div class="container">
   <div class="posts">
      <div class="allposts">
         {% if get_posts != 'noposts' %}
          {% for post in get_posts %}
            {% if post.post_image != ''%}
             <div class="signle_post card">
               <div class="postby">{{ post.postby }} <br> <div class="post_village">{{ post.post_village }}</div></div>
                <div class="post_image"><img src="{{ post.post_image.url }}" width="100%" height="100%" alt=""></div>
                <div class="card-body">
                  <div class="posttexts">{{ post.post_text }}</div>
                  <div class="post_village">{{ post.post_village }}</div>
                  <div class="posttimes">{{ post.post_dates }}</div>
                </div>
             </div>
            {% else %}
               <div class="signle_post card">
                  <div class="postby">{{ post.postby }} <br> <div class="post_village">{{ post.post_village }}</div></div>
                  <div class="posttexts">{{ post.post_text }}</div>
                  <div class="card-body">
                     <div class="posttimes">{{ post.post_dates }}</div>
                  </div>
               </div>
            {% endif %}
          {% endfor %}
         {% else %}
         <div class="text-center text-info">No post from this village.</div>
         {% endif %}
      </div>
      <div class="important_infor">
         infor
      </div>
   </div>
  </div>

{% endblock %}
{% block footer %}{% endblock %}