{% extends 'base.html' %}
{% block title %}{{ title  }}{% endblock %}

{% block navbar %}
   {% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
   <div class="flex_items">
      <div class="profiles">
         {% if bios != 'nobios' %}
         <div class="image_profile"><span><img src="{{ bios.userimages.url }}" height="70px" width="70px" alt=""></span></div>
         {% else %}
         <div class="image_profile"><span><img src="../static/images/download.png" height="70px" width="70px" alt=""></span></div>
         {% endif %}
         <div class="names"><span style="font-weight: bold;">Email:</span> {{users.useremail }}</div>
         <div class="names"><span style="font-weight: bold;">Phone:</span> {{users.phone }}</div>
         <div class="names"><span style="font-weight: bold;">Village:</span> {{users.village }}</div>
         {% if bios != 'nobio' %}
         <div class="names"><span style="font-weight: bold;">Bio:</span> {{ bios.aboutme }}</div>
         {% endif %}
         <button onclick="ShowAddStory()">Add Story</button>
      </div>
      <div class="updatenio">
         <form action="{% url 'save_bio' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
               <input type="file" name="userimage" id="userimage" class="form-control">
            </div>
            <div class="form-group">
               <textarea name="biotext" id="biotext" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
               <input type="submit" value="Sign-Up" id="signin" style="margin-bottom: 30px;">
            </div>
         </form>
      </div>
   </div>
</div>
<div class="uploadposts" id="uploadpost">
   <form action="" method="post" enctype="multipart/form-data">
     <div class="text_posts">
         <div class="form-group">
            <textarea name="poststext" id="poststext" cols="30" rows="10" placeholder="Whats happening"></textarea>
         </div>
     </div>
      <div class="imageposts">
         <div class="form-group">
            <input type="file" name="postsimages" id="postsimages">
         </div>
         <div class="form-group">
            <textarea name="captionposts" id="captionposts" cols="30" rows="10"></textarea>
         </div>
      </div>
      <div class="form-group">
         <input type="submit" value="Sign-In" id="signin" onclick="return ValidateSignin()" style="margin-bottom: 70px;">
      </div>
   </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}